# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://eco_user:password123@14.225.210.198:5432/economy"

# Application
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET="viet-dz-2025-secret-key"
JWT_EXPIRES_IN=1d